<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Repository" value="YetOtherLlamaRepository" />
		<add key="Repository" value="OtherLlamaRepository" />
		<add key="Repository" value="LlamaRepository" />
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
